.row {
  display: flex;
}

.column {
  flex: 33.33%;
  height: auto;
  width: 1%;
  padding-top: 5%;
}
.column a:link {
  height: auto;
  width: 1px;
  padding-left: 10%;
  padding-top: 10%;
}

.description {
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
}

.price {
  font-family: "Red Hat Display", sans-serif;
}
