* {
  font-family: "Red Hat Display", sans-serif;
}
.row {
  display: flex;
  width: auto;
  margin-left: 2%;
  margin-right: 2%;
}

.column {
  flex: 20%;
  height: auto;
  padding-top: 5%;
  margin: auto;
}
.column a:link {
  height: auto;
}
img {
  display: block;
}
.description {
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
  text-align: center;
}
.name {
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.price {
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
  text-align: center;
}

.cartButton {
  cursor: pointer;
}
.cartButton:hover {
  text-decoration-style: dotted;
}
